<!--<navbar></navbar>-->
<header>
  <hero></hero>
</header>
<main>
  <div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-5">
          <radar-overview ng-cloak>
              <radar-quadrant-overview quad-id="1" name="Techniques"></radar-quadrant-overview>
              <radar-quadrant-overview quad-id="2" name="Tools"></radar-quadrant-overview>
              <radar-quadrant-overview quad-id="3" name="Platforms"></radar-quadrant-overview>
              <radar-quadrant-overview quad-id="4" name="Languages & Frameworks"></radar-quadrant-overview>
          </radar-overview>
        </div>
        <div class="col-xs-7">
            Something
        </div>
    </div>
  </div>
</main>
