
<div class="quadrant-container topLeft" ng-show="vm.quadrantType=='topLeft'">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 974.75 977.46"><defs><style>.cls-1{fill:#fff;stroke:#231f20;stroke-miterlimit:10;}</style></defs><title>svg-tech-radar</title><circle class="cls-1" cx="977.46" cy="977.46" r="976.96"/><circle class="cls-1" cx="974.75" cy="977.87" r="844.37"/><circle class="cls-1" cx="985.66" cy="981.29" r="709.57"/><circle class="cls-1" cx="977.46" cy="977.46" r="574.34"/></svg>
</div>

<div class="quadrant-container topRight" ng-show="vm.quadrantType=='topRight'">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 977.46 976.96"><defs><style>.cls-1{fill:#fff;stroke:#231f20;stroke-miterlimit:10;}</style></defs><title>svg-tech-radar</title><circle class="cls-1" cy="976.96" r="976.96"/><circle class="cls-1" cx="-2.71" cy="977.37" r="844.37"/><circle class="cls-1" cx="8.2" cy="980.79" r="709.57"/><circle class="cls-1" cy="976.96" r="574.34"/></svg>
</div>


<div class="quadrant-container bottomLeft" ng-show="vm.quadrantType=='bottomLeft'">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 976.96 976.96"><defs><style>.cls-1{fill:#fff;stroke:#231f20;stroke-miterlimit:10;}</style></defs><title>svg-tech-radar</title><circle class="cls-1" cx="976.96" r="976.96"/><circle class="cls-1" cx="974.25" cy="0.41" r="844.37"/><circle class="cls-1" cx="985.16" cy="3.83" r="709.57"/><circle class="cls-1" cx="976.96" r="574.34"/></svg>
</div>


<div class="quadrant-container bottomRight" ng-show="vm.quadrantType=='bottomRight'">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 976.96 976.96"><defs><style>.cls-1{fill:#fff;stroke:#231f20;stroke-miterlimit:10;}</style></defs><title>svg-tech-radar</title><circle class="cls-1" r="976.96"/><circle class="cls-1" cx="-2.71" cy="0.41" r="844.37"/><circle class="cls-1" cx="8.2" cy="3.83" r="709.57"/><circle class="cls-1" r="574.34"/></svg>
</div>
