@import "../../common/common";


radar-overview {
  position: relative;
  overflow: hidden;
  display: block;
}

radar-overview > ul {
  display: block;
  margin:0;
  padding: 0;
}

.quadrant-overview-circle {
  @extend .absolute-center;
  height:35%;

}
.quadrant-overview-circle.circle4 {
  width: 100%;
  padding-bottom: 100%;
  z-index: 1;
  background-color: #0000AA;
  border-radius: 50%;
}
.quadrant-overview-circle.circle3 {
  width: 80%;
  padding-bottom: 80%;
  z-index: 2;
  background-color: #0b97c4;
  border-radius: 50%;

}
.quadrant-overview-circle.circle2 {
  width: 60%;
  padding-bottom: 60%;
  z-index: 3;
  background-color: #00cc99;
  border-radius: 50%;


}
.quadrant-overview-circle.circle1 {
  width: 40%;
  padding-bottom: 40%;
  z-index: 4;
  background-color: #2b542c;
  border-radius: 50%;


}


